127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
:: 1 localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for vm  in groups['all'] %}
{{ hostvars[vm]['ansible_facts']['default_ipv4']['address'] }} {{ hostvars[vm]['ansible_facts']['fqdn'] }} {{ hostvars[vm]['ansible_facts']['hostname'] }}
{% endfor %}
